%flex-layout {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.navbar {
    @extend %flex-layout;
    padding: $base-padding $base-padding*2;

    .site-title {
        font-size: 30px;
    }

    .container {
        @extend %flex-layout;
    }
}

@each $key, $value in $colors {
    .navbar-#{$key} {
        @extend .navbar;
        background-color: $value;
    }
}